        $home-background-image-url-first-section: "../img/digital-brain-mod.jpg";
        $background-image-url-third-section: "../img/code.png";
        @media (max-width: 396px) {
            #particles {
                height: 330px !important;
            }
            .home-full-container-first-section-design {
                overflow: hidden !important;
            }
             
            .home-full-container-second-section-design {
                div.animation-element {
                    h2 {
                        font-size: 45px !important;
                    }
                }
            } 
            .home-full-container-third-section-design {
                width: 100% !important;
                div.animation-element {
                    h2 {
                        margin-top: 60px;
                        width: 100% !important;
                        height: auto;
                        font-size: 45px !important;
                        color: rgb(255, 79, 0);
                        text-shadow: 0 0 30px rgb(217, 67, 0);
                        text-align: center;
                    }
                }
                img {
                    width: 100px !important;
                    height: auto !important;
                    margin: 0 auto !important;
                    float: none !important;
                    display: block !important;
                }
            }
            .home-full-container-fourth-section-design {
                h2 {
                    font-size: 20px !important;
                }
                ul {
                    margin-top: 10px !important;
                    li {
                        padding-bottom: 5px;
                        padding-top: 5px;
                    }
                }
            }
            div.home-full-container-first-section-design {
                overflow-y: hidden;
                height: 350px !important;
                div.animation-element {
                    h2 {
                        width: 100% !important;
                        height: auto;
                        margin-top: 200px !important;
                        font-size: 45px !important;
                        color: rgb(0, 217, 25);
                        text-shadow: 0 0 30px rgb(0, 217, 25);
                        text-align: center !important;
                    }
                }
            }
            div.blockuote-design {
                width: 100%;
                position: absolute;
                top: 80px;
                .mb-style-3 {
                    position: relative;
                    display: block;
                    float: right;
                    width: 100% !important;
                }
                .mb-style-3 blockquote {
                    background: rgba(0, 0, 0, 0.74);
                    padding: 10px !important;
                    border-radius: 5px;
                    box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.7), -5px -4px 25px rgba(0, 0, 0, 0.3);
                }
                .mb-style-3 blockquote:after,
                .mb-style-3 blockquote:before {
                    top: 100%;
                    border: solid transparent;
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                }
                .mb-style-3 blockquote p {
                    font-family: 'Alegreya', serif;
                    font-size: 14px !important;
                    color: #b4b4b4;
                    font-weight: 400;
                    line-height: 40px;
                    font-style: italic;
                    text-indent: 100px;
                    position: relative;
                }
                .mb-style-3 blockquote p:before {
                    content: '\201C';
                    font-family: serif;
                    font-style: normal;
                    font-weight: 700;
                    position: absolute;
                    font-size: 80px !important;
                    top: -20px;
                    left: -105px;
                    color: rgb(185, 185, 185);
                    text-shadow: 7px 14px 10px rgba(0, 0, 0, 0.1);
                }
                .mb-author {
                    font-family: 'Alegreya', serif;
                    margin-top: -40px !important;
                    margin-right: 30px;
                    text-align: right;
                    font-weight: 700;
                    font-style: italic;
                    color: #fff;
                    font-size: 15px !important;
                    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
                }
            }
        }
        
        // 516 px
        @media (max-width: 515px) and (min-width: 397px) {
            #particles {
                height: 330px !important;
            }
            div.home-full-container-first-section-design {
                 overflow: hidden !important;
                height: 350px !important;
                div.animation-element {
                    h2 {
                        width: 100% !important;
                        height: auto;
                        margin-top: 200px !important;
                        font-size: 45px !important;
                        color: rgb(0, 217, 25);
                        text-shadow: 0px 0px 30px rgb(0, 217, 25);
                        text-align: center !important;
                    }
                }
            }
            div.blockuote-design {
                width: 100%;
                position: absolute;
                top: 80px;
                .mb-style-3 {
                    position: relative;
                    display: block;
                    float: right;
                    width: 100% !important;
                }
                .mb-style-3 blockquote {
                    background: rgba(0, 0, 0, 0.74);
                    padding: 10px !important;
                    border-radius: 5px;
                    box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.7), -5px -4px 25px rgba(0, 0, 0, 0.3);
                }
                .mb-style-3 blockquote:after,
                .mb-style-3 blockquote:before {
                    top: 100%;
                    border: solid transparent;
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                }
                .mb-style-3 blockquote p {
                    font-family: 'Alegreya', serif;
                    font-size: 14px !important;
                    color: #b4b4b4;
                    font-weight: 400;
                    line-height: 40px;
                    font-style: italic;
                    text-indent: 100px;
                    position: relative;
                }
                .mb-style-3 blockquote p:before {
                    content: '\201C';
                    font-family: serif;
                    font-style: normal;
                    font-weight: 700;
                    position: absolute;
                    font-size: 80px !important;
                    top: -20px;
                    left: -105px;
                    color: rgb(185, 185, 185);
                    text-shadow: 7px 14px 10px rgba(0, 0, 0, 0.1);
                }
                .mb-author {
                    font-family: 'Alegreya', serif;
                    margin-top: -40px !important;
                    margin-right: 30px;
                    text-align: right;
                    font-weight: 700;
                    font-style: italic;
                    color: #fff;
                    font-size: 15px !important;
                    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
                }
            }
            .home-full-container-third-section-design {
                width: 100% !important;
                div.animation-element {
                    h2 {
                        margin-top: 60px;
                        width: 100% !important;
                        height: auto;
                        font-size: 60px !important;
                        color: rgb(255, 79, 0);
                        text-shadow: 0px 0px 30px rgb(217, 67, 0);
                        text-align: center;
                    }
                }
                img {
                    width: 100px !important;
                    height: auto !important;
                    margin: 0 auto !important;
                    float: none !important;
                    display: block !important;
                }
            }
            .home-full-container-fourth-section-design {
                h2 {
                    font-size: 25px !important;
                }
                ul {
                    margin-top: 10px !important;
                    li {
                        padding-bottom: 5px;
                        padding-top: 5px;
                    }
                }
            }
            .home-full-container-second-section-design {
                div.animation-element {
                    h2 {
                        font-size: 60px !important;
                    }
                }
            }
        }
        
        // Extra small devices 
        @media (max-width: 767px) and (min-width: 516px) {
            #particles {
                height: 330px !important;
            }
            div.home-full-container-first-section-design {
                 overflow: hidden !important;
                height: 350px !important;
                div.animation-element {
                    h2 {
                        width: 100% !important;
                        height: auto;
                        margin-top: 200px !important;
                        font-size: 60px !important;
                        color: rgb(0, 217, 25);
                        text-shadow: 0px 0px 30px rgb(0, 217, 25);
                        text-align: center !important;
                    }
                }
            }
            div.blockuote-design {
                width: 100%;
                position: absolute;
                top: 80px;
                .mb-style-3 {
                    position: relative;
                    display: block;
                    float: right;
                    width: 100% !important;
                }
                .mb-style-3 blockquote {
                    background: rgba(0, 0, 0, 0.74);
                    padding: 30px;
                    border-radius: 5px;
                    box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.7), -5px -4px 25px rgba(0, 0, 0, 0.3);
                }
                .mb-style-3 blockquote:after,
                .mb-style-3 blockquote:before {
                    top: 100%;
                    border: solid transparent;
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                }
                .mb-style-3 blockquote p {
                    font-family: 'Alegreya', serif;
                    font-size: 18px;
                    color: #b4b4b4;
                    font-weight: 400;
                    line-height: 40px;
                    font-style: italic;
                    text-indent: 100px;
                    position: relative;
                }
                .mb-style-3 blockquote p:before {
                    content: '\201C';
                    font-family: serif;
                    font-style: normal;
                    font-weight: 700;
                    position: absolute;
                    font-size: 131px;
                    top: -20px;
                    left: -105px;
                    color: rgb(185, 185, 185);
                    text-shadow: 7px 14px 10px rgba(0, 0, 0, 0.1);
                }
                .mb-author {
                    font-family: 'Alegreya', serif;
                    margin-top: -50px;
                    margin-right: 30px;
                    text-align: right;
                    font-weight: 700;
                    font-style: italic;
                    color: #fff;
                    font-size: 20px;
                    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
                }
            }
            .home-full-container-third-section-design {
                div.animation-element {
                    h2 {
                        margin-top: 60px;
                        width: auto;
                        height: auto;
                        font-size: 60px !important;
                        color: rgb(255, 79, 0);
                        text-shadow: 0px 0px 30px rgb(217, 67, 0);
                    }
                }
                img {
                    float: right;
                    display: block !important;
                    margin-top: -65px !important;
                    margin-right: 0px !important;
                    width: auto;
                    height: 150px !important;
                }
            }
            .home-full-container-fourth-section-design {
                ul {
                    margin-top: 0px !important;
                    li {
                        padding-bottom: 5px;
                        padding-top: 5px;
                    }
                }
            }
        }
        
        // Small devices (Tablets)
        @media (min-width: 768px) {
            #particles {
                position: absolute;
                margin-top: 50px;
                height: 480px !important;
                width: 100% !important;
                overflow-x: hidden;
            }
            div.home-full-container-first-section-design {
                 overflow: hidden !important;
                div.animation-element {
                    h2 {
                        width: 100% !important;
                        height: auto;
                        margin-top: 250px;
                        font-size: 80px !important;
                        color: rgb(0, 217, 25);
                        text-shadow: 0px 0px 30px rgb(0, 217, 25);
                        text-align: center !important;
                    }
                }
            }
            .home-full-container-fourth-section-design {
                ul {
                    margin-top: 0px !important;
                    li {
                        padding-bottom: 5px;
                        padding-top: 5px;
                    }
                }
            }
            .home-full-container-third-section-design {
                div.animation-element {
                    h2 {
                        margin-top: 60px;
                        width: auto;
                        height: auto;
                        font-size: 80px;
                        color: rgb(255, 79, 0);
                        text-shadow: 0px 0px 30px rgb(217, 67, 0);
                    }
                }
                img {
                    float: right;
                    margin-top: -130px !important;
                    margin-right: 30px !important;
                    width: auto;
                    height: 200px;
                }
            }
        }
        
        // Medium devices
        @media (min-width: 992px) {
            #particles {
                position: absolute;
                margin-top: 50px;
                height: 480px !important;
                width: 100% !important;
                overflow-x: hidden;
            }
            div.home-full-container-first-section-design {
                 overflow: hidden !important;
                div.animation-element {
                    h2 {
                        width: auto !important;
                        height: auto;
                        margin-top: 250px;
                        font-size: 80px !important;
                        color: rgb(0, 217, 25);
                        text-shadow: 0px 0px 30px rgb(0, 217, 25);
                    }
                }
            }
            .home-full-container-third-section-design {
                img {
                    margin-top: 27px !important;
                    margin-right: 150px !important;
                }
            }
            .home-full-container-fourth-section-design {
                ul {
                    margin-top: 0px !important;
                    li {
                        padding-bottom: 5px;
                        padding-top: 5px;
                    }
                }
            }
        }
        
        // Large devices
        @media (min-width: 1200px) {
            #particles {
                position: absolute;
                margin-top: 50px;
                height: 480px !important;
                width: 100% !important;
                overflow-x: hidden;
            }
            div.home-full-container-first-section-design {
                 overflow: hidden !important;
                div.animation-element {
                    h2 {
                        width: auto !important;
                        height: auto;
                        margin-top: 250px;
                        font-size: 80px !important;
                        color: rgb(0, 217, 25);
                        text-shadow: 0px 0px 30px rgb(0, 217, 25);
                    }
                }
            }
            .home-full-container-third-section-design {
                img {
                    margin-top: 27px !important;
                    margin-right: 150px !important;
                }
            }
            .home-full-container-fourth-section-design {
                ul {
                    margin-top: 0px !important;
                    li {
                        padding-bottom: 5px;
                        padding-top: 5px;
                    }
                }
            }
        }

        #particles {
            position: absolute;
            margin-top: 50px;
            width: 100% !important;
            overflow-x: hidden;
        }
        
        div.home-full-container-first-section-design {
            overflow: hidden;
            background: url($home-background-image-url-first-section) no-repeat fixed center;
            background-size: cover;
            height: 500px;
            margin-top: 30px;
            div.animation-element {
                opacity: 0;
                position: relative;
                h2 {
                    width: auto;
                    height: auto;
                    display: inline-block;
                    margin-top: 250px;
                    font-size: 80px;
                    color: rgb(0, 217, 25);
                    text-shadow: 0px 0px 30px rgb(0, 217, 25);
                }
            }
            .animation-element.slide-left {
                opacity: 0;
                @include transition(all 700ms linear);
                -moz-transform: translate3d(-100px, 0px, 0px);
                -webkit-transform: translate3d(-100px, 0px, 0px);
                -o-transform: translate(-100px, 0px);
                -ms-transform: translate(-100px, 0px);
                transform: translate3d(-100px, 0px, 0px);
            }
            .animation-element.slide-left.in-view {
                opacity: 1;
                -moz-transform: translate3d(0px, 0px, 0px);
                -webkit-transform: translate3d(0px, 0px, 0px);
                -o-transform: translate(0px, 0px);
                -ms-transform: translate(0px, 0px);
                transform: translate3d(0px, 0px, 0px);
            }
        }
        
        div.blockuote-design {
            width: 100%;
            position: absolute;
            top: 80px;
            .mb-style-3 {
                position: relative;
                display: block;
                float: right;
                width: 400px;
            }
            .mb-style-3 blockquote {
                background: rgba(0, 0, 0, 0.74);
                padding: 30px;
                border-radius: 5px;
                box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.7), -5px -4px 25px rgba(0, 0, 0, 0.3);
            }
            .mb-style-3 blockquote:after,
            .mb-style-3 blockquote:before {
                top: 100%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
            }
            .mb-style-3 blockquote p {
                font-family: 'Alegreya', serif;
                font-size: 18px;
                color: #b4b4b4;
                font-weight: 400;
                line-height: 40px;
                font-style: italic;
                text-indent: 100px;
                position: relative;
            }
            .mb-style-3 blockquote p:before {
                content: '\201C';
                font-family: serif;
                font-style: normal;
                font-weight: 700;
                position: absolute;
                font-size: 131px;
                top: -20px;
                left: -105px;
                color: rgb(185, 185, 185);
                text-shadow: 7px 14px 10px rgba(0, 0, 0, 0.1);
            }
            .mb-author {
                font-family: 'Alegreya', serif;
                margin-top: -50px;
                margin-right: 30px;
                text-align: right;
                font-weight: 700;
                font-style: italic;
                color: #fff;
                font-size: 20px;
                text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
            }
        }
        
        .home-full-container-second-section-design {
            overflow: hidden !important;
          background-size: auto;
          background: #00030f url($background-image-url-third-section) no-repeat scroll left;
          border-top: 0.001em solid rgba(255, 255, 255, 0.46);
          border-bottom: 0.001em solid rgba(255, 255, 255, 0.46);
          padding-bottom: 80px;
          padding-top: 40px;
            /*img {
        width: auto;
        height: 100px;
        margin-top: 40px;
        position: absolute;
    }
    img:first-child {
        margin-left: 30px;
        z-index: 3;
    }
    img:nth-child(2) {
        margin-left: 100px;
        z-index: 2;
    }
    img:last-child {
        margin-left: 180px;
        z-index: 1;
    }*/
            div.animation-element {
                opacity: 0;
                position: relative;
                h2 {
                    text-align: right;
                    margin-top: 45px;
                    width: auto;
                    height: auto;
                    display: block;
                    font-size: 80px;
                    color: rgb(0, 42, 217);
                    text-shadow: 0px 0px 30px rgb(0, 42, 217);
                }
            }
            .animation-element.slide-right {
                opacity: 0;
                -moz-transition: all 700ms linear;
                -webkit-transition: all 700ms linear;
                -o-transition: all 700ms linear;
                transition: all 700ms linear;
                -moz-transform: translate3d(0px, 100px, 0px);
                -webkit-transform: translate3d(100px, 0px, 0px);
                -o-transform: translate(100px, 0px);
                -ms-transform: translate(100px, 0px);
                transform: translate3d(100px, 0px, 0px);
            }
            .animation-element.slide-right.in-view {
                opacity: 1;
                -moz-transform: translate3d(0px, 0px, 0px);
                -webkit-transform: translate3d(0px, 0px, 0px);
                -o-transform: translate(0px, 0px);
                -ms-transform: translate(0px, 0px);
                transform: translate3d(0px, 0px, 0px);
            }
        }
        
        .home-full-container-third-section-design {
            background-color: #000208;
            //height: 200px;
            border-bottom-style: solid;
            border-bottom-width: 0.001em;
            border-bottom-color: rgba(255, 255, 255, 0.46);
            padding-bottom: 30px;
            padding-top: 40px;
            img {
                float: right;
                margin-top: 27px;
                margin-right: 150px;
                width: auto;
                height: 200px;
            }
            div.animation-element {
                opacity: 0;
                position: relative;
                h2 {
                    margin-top: 60px;
                    width: auto;
                    height: auto;
                    font-size: 80px;
                    color: rgb(255, 79, 0);
                    text-shadow: 0px 0px 30px rgb(217, 67, 0);
                }
            }
            .animation-element.slide-left {
                opacity: 0;
                -moz-transition: all 700ms linear;
                -webkit-transition: all 700ms linear;
                -o-transition: all 700ms linear;
                transition: all 700ms linear;
                -moz-transform: translate3d(-100px, 0px, 0px);
                -webkit-transform: translate3d(-100px, 0px, 0px);
                -o-transform: translate(-100px, 0px);
                -ms-transform: translate(-100px, 0px);
                transform: translate3d(-100px, 0px, 0px);
            }
            .animation-element.slide-left.in-view {
                opacity: 1;
                -moz-transform: translate3d(0px, 0px, 0px);
                -webkit-transform: translate3d(0px, 0px, 0px);
                -o-transform: translate(0px, 0px);
                -ms-transform: translate(0px, 0px);
                transform: translate3d(0px, 0px, 0px);
            }
        }
        
        .home-full-container-fourth-section-design {
            background-color: #000000;
            border-bottom: solid 15px hsla(0, 0%, 100%, 0.3);
            color: rgba(255, 255, 255, 0.3);
            padding-bottom: 20px;
            ul {
                margin-top: -35px;
                li {
                    padding-bottom: 5px;
                    padding-top: 5px;
                }
            }
        }
