@media (max-width: 430px) {
    div.contact-body-design {
        svg {
            margin-left: -15px;
            text {
                font-size: 45px !important;
                paint-order: stroke;
                stroke: rgb(25, 17, 5);
                stroke-width: 1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                font-weight: bolder;
                fill: rgba(255, 255, 255, 0.81);
                text-shadow: 0px 0px 5px rgba(25, 17, 5, 0.81);
            }
        }
    }

    .message-input {
        padding-left: 4px !important;
        padding-right: 4px !important;
    }

    .btn-form {
      padding-right: 4px !important;
    }
}

.g-recaptcha {
    display: block;
}

@media (max-width: 992px) and (min-width: 430px){
    .message-input {
        padding-left: 4px !important;
        padding-right: 4px !important;
    }
  .btn-form {
    padding-right: 4px !important;
  }
}

div.btns-design {
  padding-left: 0px !important;
  padding-right: 7px !important;
}

div.img-background-contact {
    background: url(../img/pluma.jpg) no-repeat fixed center;
    background-size: cover;
    div.contact-body-design {
        overflow-x: hidden;
        margin-top: 20px;
        padding-top: 50px;
        padding-bottom: 20px;
        border-bottom: solid 15px hsla(0, 0%, 100%, 0.3);
        p.text-design {
            padding: 10px;
            color: white;
            margin: 5px 5px 20px;
            line-height: 25px;
            background-color: rgba(25, 17, 5, 0.40);
            text-shadow: 0px 0px 10px rgb(0, 0, 0);
        }
        form {
            box-shadow: none;
            border: none;
            background-color: transparent;
            input {
                background-color: rgba(255, 255, 255, 0.80);
            }
        }
        svg {
            margin-left: -15px;
            text {
                font-size: 60px;
                paint-order: stroke;
                stroke: rgb(25, 17, 5);
                stroke-width: 1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                font-weight: bolder;
                fill: rgba(255, 255, 255, 0.81);
                text-shadow: 0px 0px 5px rgba(25, 17, 5, 0.81);
            }
        }
        object {
            margin-left: 20px;
            width: 70px;
        }
        div.line-design {
            height: 1px;
            background-color: rgba(255, 255, 255, 0.3);
            margin-bottom: 20px;
            margin-left: 5px;
            margin-right: 5px;
        }
        textarea {
            resize: vertical;
            min-height: 240px;
            background-color: rgba(255, 255, 255, 0.80);
            max-height: 480px;
        }
        // delete transition on resize textarea
        textarea:hover,
        input:hover,
        span:hover {
            @include transition($transition-links);
            background-color: rgba(255, 255, 255, 0.95);
            cursor: default !important;
        }
        textarea:focus,
        input:focus {
            background-color: rgba(255, 255, 255, 0.95);
            transition: none;
            cursor: text !important;
        }
        input,
        span {
            background-color: rgba(255, 255, 255, 0.85);
            height: 40px;
        }
        div.message-des{
            padding-right: 5px !important;
        }
        div.col-one-design,
        //div.col-two-design,
        div.col-three-design {
            padding-left: 5px;
            padding-right: 5px;
        }
        div.col-three-design {
            button {
                width: 100%;
                padding-top: 10px;
                padding-bottom: 10px;
                font-size: 20px;
                background: $color-hover-buttons;
                margin: 0 auto;
                color: rgba(255, 255, 255, 0.87);
                font-size: 20px;
                border: solid 1px transparent;
                @include transition($transition-links);
            }
            button:hover {
                @include transition($transition-links);
                background: rgba(25, 17, 5, 0.9);
                border: solid 1px rgb(25, 17, 5);
            }
        }
    }
}
div.rc-anchor{
    display: block;
    float: right;
}


